# Generic Rule Induction Notebook

Continuoulsy refined.

## README

- GLRM needs to run in proper (conda) aix360 environment
- BRCG runs with proper (conda) aix360 environment
- Use aix360i environment for RIPPER

### Configuration

In [534]:

CONFIG1 = { 
    'NAME' : 'binary-churn-quantile-brcg', 
    'DATA_SET': '../data/churn_prob_out_35.csv',
    'DATA_TYPES': {'Children': float, 'RatePlan': str},
    'DROP': ['Id', 'pChurn', '3_Class', '5_Class', 'is_test_set'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3, # 'FIXED' for using 'is_test_set'
    'BINARIZER': 'QUANTILE',
    'ALGO': 'BRCG',
    'TARGET_LABEL': 'CHURN',
    'TYPE' : 'BINARY',
    'EXAMPLE_FEATURE' : 'Est Income',
    'POS_CLASS': 'T',
    'BASELINE': True
     }
CONFIG2 = { 
    'NAME' : 'continuous-churn', 
    'DATA_SET': '../data/churn_prob_out_35.csv',
    'DATA_TYPES': {'Children': float, 'RatePlan': str},
    'DROP': ['Id', 'CHURN', '3_Class', '5_Class', 'is_test_set'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3, # 'FIXED' for using 'is_test_set'
    'BINARIZER': 'QUANTILE',
    'ALGO': 'GLRM',
    'TARGET_LABEL': 'pChurn',
    'TYPE' : 'CONTINUOUS',
    'EXAMPLE_FEATURE' : 'Est Income',
    'POS_CLASS': None,
    'BASELINE': True
     }
CONFIG3 = { 
    'NAME' : 'bike-demand', 
    'DATA_SET': '../data/SeoulBikeData.csv',
    'DATA_TYPES': {'Rented Bike Count': float, 'Hour': float, 'Humidity': float, 'Visibility (10m)': float, 'RatePlan': str},
    'DROP': ['Date'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'QUANTILE',
    'ALGO': 'GLRM',
    'TARGET_LABEL': 'Rented Bike Count',
    'TYPE' : 'CONTINUOUS',
    'EXAMPLE_FEATURE' : 'Dew point temperature(C)',
    'POS_CLASS': None,
    'BASELINE': True
     }
CONFIG4 = { 
    'NAME' : 'heloc', 
    'DATA_SET': '../data/heloc.csv',
    'DATA_TYPES': {},
    'DROP': ['RiskPerformance'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'QUANTILE',
    'ALGO': 'GLRM',
    'TARGET_LABEL': 'Probabilities',
    'TYPE' : 'CONTINUOUS',
    'EXAMPLE_FEATURE' : 'ExternalRiskEstimate',
    'POS_CLASS': None,
    'BASELINE': True
     }
CONFIG5 = { 
    'NAME' : 'taiwan-credit', 
    'DATA_SET': '../data/TaiwanCreditData.csv',
    'DATA_TYPES': {},
    'DROP': ['DefaultNextMonth'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'QUANTILE',
    'ALGO': 'GLRM',
    'TARGET_LABEL': 'Probabilities',
    'TYPE' : 'CONTINUOUS',
    'EXAMPLE_FEATURE' : 'Amount',
    'POS_CLASS': None,
    'BASELINE': True
     }
CONFIG6 = { 
    'NAME' : 'german-credit-brcg', 
    'DATA_SET': '../data/german_credit_codiert.csv',
    'DATA_TYPES': {},
    'DROP': ['Index'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'QUANTILE',
    'ALGO': 'BRCG',
    'TARGET_LABEL': 'Target',
    'TYPE' : 'BINARY',
    'EXAMPLE_FEATURE' : 'Credit Amount',
    'POS_CLASS': 0,
    'BASELINE': True
    
     }
CONFIG7 = { 
    'NAME' : 'german-credit-ripper', 
    'DATA_SET': '../data/german_credit_codiert.csv',
    'DATA_TYPES': {},
    'DROP': ['Index'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'NATIVE',
    'ALGO': 'RIPPER',
    'TARGET_LABEL': 'Target',
    'TYPE' : 'BINARY',
    'EXAMPLE_FEATURE' : 'Credit Amount',
    'POS_CLASS': 0,
    'BASELINE': True
     }
CONFIG8 = { 
    'NAME' : 'binary-churn-ripper', 
    'DATA_SET': '../data/churn_prob_out_35.csv',
    'DATA_TYPES': {'Children': float, 'RatePlan': str},
    'DROP': ['Id', 'pChurn', '3_Class', '5_Class', 'is_test_set'],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3, # 'FIXED' for using 'is_test_set'
    'BINARIZER': 'QUANTILE',
    'ALGO': 'RIPPER',
    'TARGET_LABEL': 'CHURN',
    'TYPE' : 'BINARY',
    'EXAMPLE_FEATURE' : 'Est Income',
    'POS_CLASS': 'T',
    'BASELINE': True
     }

CONFIG9 = { 
    'NAME' : 'compas-ripper', 
    'DATA_SET': '../data/compas.csv',
    'DATA_TYPES': {},
    'DROP': [],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'QUANTILE',
    'ALGO': 'RIPPER',
    'TARGET_LABEL': 'recidivate-within-two-years',
    'TYPE' : 'BINARY',
    'EXAMPLE_FEATURE' : 'current-charge-degree',
    'POS_CLASS': 0,
    'BASELINE': True
     }

CONFIG10 = { 
    'NAME' : 'mushroom', 
    'DATA_SET': '../data/mushroom.csv',
    'DATA_TYPES': {},
    'DROP': [],
    'MODE': 'PREDICTIVE',
    'TRAIN_TEST_SPLIT': 0.3,
    'BINARIZER': 'NATIVE',
    'ALGO': 'RIPPER',
    'TARGET_LABEL': 'Poisonous/Edible',
    'TYPE' : 'BINARY',
    'EXAMPLE_FEATURE' : 'Cap-color',
    'POS_CLASS': "e",
    'BASELINE': True
     }





Config_list = [CONFIG1,CONFIG2,CONFIG3,CONFIG4,CONFIG5,CONFIG6,CONFIG7,CONFIG8,CONFIG9,CONFIG10]

CONFIG = CONFIG1
print('Proceed with configuration:', CONFIG['NAME'])

Proceed with configuration: binary-churn-quantile-brcg

In [535]:
import pandas as pd
import numpy as np
# import os
from sklearn.model_selection import train_test_split #, GridSearchCV
from sklearn.metrics import precision_score, recall_score, accuracy_score, balanced_accuracy_score, confusion_matrix, r2_score, explained_variance_score, mean_absolute_error, max_error
from sklearn.ensemble import GradientBoostingRegressor
import xgboost as xgb
import time
import warnings
import re

from aix360.algorithms.rbm import BRCGExplainer, BooleanRuleCG, GLRMExplainer, LinearRuleRegression
if CONFIG['BINARIZER'] == 'QUANTILE':
    from aix360.algorithms.rbm import FeatureBinarizer
elif CONFIG['BINARIZER'] == 'TREE':
    from aix360.algorithms.rbm import FeatureBinarizerFromTrees
if CONFIG['ALGO'] == 'RIPPER':
    from aix360i.algorithms.rule_induction.ripper import Ripper
if CONFIG['ALGO'] == 'CORELS':
    from corels import *





# from explainer import Explainer

# TODO create reference for performance using boosted trees

# import wittgenstein as lw
# from clf_utils import make_tree_dataset, make_forest, score_forest
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder

### Data

In [536]:
def convert(char):
    if char == CONFIG['POS_CLASS']:
        return 1
    else:
        return 0

df = pd.read_csv(CONFIG['DATA_SET'],dtype=CONFIG['DATA_TYPES'])
df = df.drop(columns=CONFIG['DROP'])
if CONFIG['ALGO'] == 'BRCG':
    df[CONFIG['TARGET_LABEL']] = df[CONFIG['TARGET_LABEL']].map(convert)
    CONFIG['POS_CLASS'] = 1 
    # maybe this could also be achieved through explicit binarization of target vector
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CHURN       1799 non-null   int64
 1   Gender      1799 non-null   object
 2   Status      1799 non-null   object
 3   Children    1799 non-null   float64
 4   Est Income  1799 non-null   float64
 5   Car Owner   1799 non-null   object
 6   Age         1799 non-null   float64
 7   Paymethod   1799 non-null   object
 8   Usage       1799 non-null   float64
 9   RatePlan    1799 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 140.7+ KB

,CHURN,Gender,Status,Children,Est Income,Car Owner,Age,Paymethod,Usage,RatePlan
0,1,F,S,1.0,38000.00,N,24.393333,CC,229.64,3
1,0,M,M,2.0,29616.00,N,49.426667,CH,75.29,2
2,0,M,M,0.0,19732.80,N,50.673333,CC,47.25,3
3,0,M,S,2.0,96.33,N,56.473333,CC,59.01,1
4,0,F,M,2.0,52004.80,N,25.140000,CH,28.14,1

In [537]:
if CONFIG['TYPE'] == 'BINARY':
    print(df[CONFIG['TARGET_LABEL']].value_counts())
elif CONFIG['TYPE'] == 'CONTINUOUS':
    df[CONFIG['TARGET_LABEL']].describe()
else:
    print('Unrecognized problem type')

0    1076
1     723
Name: CHURN, dtype: int64

### Train, Test Split

In [538]:
if CONFIG['TRAIN_TEST_SPLIT'] == 'FIXED':
    if CONFIG['MODE'] == 'PREDICTIVE':
        train = df[df['is_test_set'] == False]
        test = df[df['is_test_set'] == True]
    elif CONFIG['MODE'] == 'DESCRIPTIVE':
        train = df
        test = df

    train = train.drop(columns=['is_test_set'])
    test = test.drop(columns=['is_test_set'])

    y_train = train[CONFIG['TARGET_LABEL']]
    x_train = train.drop(columns=[CONFIG['TARGET_LABEL']])

    y_test = test[CONFIG['TARGET_LABEL']]
    x_test = test.drop(columns=[CONFIG['TARGET_LABEL']])
else:
    x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=[CONFIG['TARGET_LABEL']]), df[CONFIG['TARGET_LABEL']], test_size=CONFIG['TRAIN_TEST_SPLIT'], random_state=42)

print('Training:', x_train.shape, y_train.shape)
print('Test:', x_test.shape, y_test.shape)

Training: (1259, 9) (1259,)
Test: (540, 9) (540,)

### Reference Performance

In [539]:
if CONFIG['TYPE'] == 'CONTINUOUS':
    print('needs prior encoding of categoricals')
    # gbr = GradientBoostingRegressor(n_estimators=500, random_state=0)
    # gbr.fit(x_train, y_train)
    # # print('Training R^2:', r2_score(yTrain, gbr.predict(dfTrain)))
    # print('Test R^2:', r2_score(y_test, gbr.predict(x_test)))

### Binarization

In [540]:
if CONFIG['BINARIZER'] == 'TREES':
    binarizer =  FeatureBinarizerFromTrees(negations=True, randomState=42) # FeatureBinarizer(negations=False), FeatureBinarizerFromTrees(negations=True, randomState=42)
    binarizer = binarizer.fit(x_train, y_train)
    x_train_bin = binarizer.transform(x_train) #  x_train_bin = binarizer.fit_transform(x_train)
    x_test_bin = binarizer.transform(x_test) #  X_fb = self.fb.fit_transform(X_train)
elif CONFIG['BINARIZER'] == 'QUANTILE':
    binarizer =  FeatureBinarizer(numThresh=9,negations=True) # FeatureBinarizer(negations=False), FeatureBinarizerFromTrees(negations=True, randomState=42)
    binarizer = binarizer.fit(x_train)
    x_train_bin = binarizer.transform(x_train) #  x_train_bin = binarizer.fit_transform(x_train)
    x_test_bin = binarizer.transform(x_test) #  X_fb = self.fb.fit_transform(X_train)  
elif CONFIG['BINARIZER'] == 'NATIVE':
    x_train_bin = x_train
    x_test_bin = x_test
else:
    print('UNRECOGNIZED BINARIZER')

x_train_bin.info() # verbose=True
x_train_bin.head()
x_train_bin[CONFIG['EXAMPLE_FEATURE']][:10]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1259 entries, 513 to 1126
Data columns (total 82 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   (Gender, , )                          1259 non-null   int64
 1   (Gender, not, )                       1259 non-null   int64
 2   (Status, ==, D)                       1259 non-null   int32
 3   (Status, ==, M)                       1259 non-null   int32
 4   (Status, ==, S)                       1259 non-null   int32
 5   (Status, !=, D)                       1259 non-null   int32
 6   (Status, !=, M)                       1259 non-null   int32
 7   (Status, !=, S)                       1259 non-null   int32
 8   (Children, <=, 0.0)                   1259 non-null   int32
 9   (Children, <=, 1.0)                   1259 non-null   int32
 10  (Children, >, 0.0)                    1259 non-null   int32
 11  (Children, >, 1.0)                    1259 non-null   int32
 12  (Est Income, <=, 7737.9400000000005)  1259 non-null   int32
 13  (Est Income, <=, 16938.5)             1259 non-null   int32
 14  (Est Income, <=, 28660.22000000001)   1259 non-null   int32
 15  (Est Income, <=, 42000.0)             1259 non-null   int32
 16  (Est Income, <=, 55860.0)             1259 non-null   int32
 17  (Est Income, <=, 64977.4)             1259 non-null   int32
 18  (Est Income, <=, 74530.8)             1259 non-null   int32
 19  (Est Income, <=, 83287.0)             1259 non-null   int32
 20  (Est Income, <=, 92148.5)             1259 non-null   int32
 21  (Est Income, >, 7737.9400000000005)   1259 non-null   int32
 22  (Est Income, >, 16938.5)              1259 non-null   int32
 23  (Est Income, >, 28660.22000000001)    1259 non-null   int32
 24  (Est Income, >, 42000.0)              1259 non-null   int32
 25  (Est Income, >, 55860.0)              1259 non-null   int32
 26  (Est Income, >, 64977.4)              1259 non-null   int32
 27  (Est Income, >, 74530.8)              1259 non-null   int32
 28  (Est Income, >, 83287.0)              1259 non-null   int32
 29  (Est Income, >, 92148.5)              1259 non-null   int32
 30  (Car Owner, , )                       1259 non-null   int64
 31  (Car Owner, not, )                    1259 non-null   int64
 32  (Age, <=, 20.0)                       1259 non-null   int32
 33  (Age, <=, 25.44)                      1259 non-null   int32
 34  (Age, <=, 34.706667)                  1259 non-null   int32
 35  (Age, <=, 41.980000000000004)         1259 non-null   int32
 36  (Age, <=, 45.666667)                  1259 non-null   int32
 37  (Age, <=, 48.853333)                  1259 non-null   int32
 38  (Age, <=, 52.74)                      1259 non-null   int32
 39  (Age, <=, 56.173333)                  1259 non-null   int32
 40  (Age, <=, 61.713333)                  1259 non-null   int32
 41  (Age, >, 20.0)                        1259 non-null   int32
 42  (Age, >, 25.44)                       1259 non-null   int32
 43  (Age, >, 34.706667)                   1259 non-null   int32
 44  (Age, >, 41.980000000000004)          1259 non-null   int32
 45  (Age, >, 45.666667)                   1259 non-null   int32
 46  (Age, >, 48.853333)                   1259 non-null   int32
 47  (Age, >, 52.74)                       1259 non-null   int32
 48  (Age, >, 56.173333)                   1259 non-null   int32
 49  (Age, >, 61.713333)                   1259 non-null   int32
 50  (Paymethod, ==, Auto)                 1259 non-null   int32
 51  (Paymethod, ==, CC)                   1259 non-null   int32
 52  (Paymethod, ==, CH)                   1259 non-null   int32
 53  (Paymethod, !=, Auto)                 1259 non-null   int32
 54  (Paymethod, !=, CC)                   1259 non-null   int32
 55  (Paymethod, !=, CH)                   1259 non-null   int32
 56  (Usage, <=, 21.372)                   1259 non-null   int32
 57  (Usage, <=, 29.17)                    1259 non-null   int32
 58  (Usage, <=, 39.53200000000001)        1259 non-null   int32
 59  (Usage, <=, 47.25)                    1259 non-null   int32
 60  (Usage, <=, 58.03)                    1259 non-null   int32
 61  (Usage, <=, 73.02)                    1259 non-null   int32
 62  (Usage, <=, 94.60799999999995)        1259 non-null   int32
 63  (Usage, <=, 119.82)                   1259 non-null   int32
 64  (Usage, <=, 151.60800000000006)       1259 non-null   int32
 65  (Usage, >, 21.372)                    1259 non-null   int32
 66  (Usage, >, 29.17)                     1259 non-null   int32
 67  (Usage, >, 39.53200000000001)         1259 non-null   int32
 68  (Usage, >, 47.25)                     1259 non-null   int32
 69  (Usage, >, 58.03)                     1259 non-null   int32
 70  (Usage, >, 73.02)                     1259 non-null   int32
 71  (Usage, >, 94.60799999999995)         1259 non-null   int32
 72  (Usage, >, 119.82)                    1259 non-null   int32
 73  (Usage, >, 151.60800000000006)        1259 non-null   int32
 74  (RatePlan, ==, 1)                     1259 non-null   int32
 75  (RatePlan, ==, 2)                     1259 non-null   int32
 76  (RatePlan, ==, 3)                     1259 non-null   int32
 77  (RatePlan, ==, 4)                     1259 non-null   int32
 78  (RatePlan, !=, 1)                     1259 non-null   int32
 79  (RatePlan, !=, 2)                     1259 non-null   int32
 80  (RatePlan, !=, 3)                     1259 non-null   int32
 81  (RatePlan, !=, 4)                     1259 non-null   int32
dtypes: int32(78), int64(4)
memory usage: 432.8 KB

operation       <=                                                        \
value     7737.94  16938.50 28660.22 42000.00 55860.00 64977.40 74530.80
513              0        0        0        0        0        0        0
81               0        1        1        1        1        1        1
596              0        1        1        1        1        1        1
380              0        0        1        1        1        1        1
1523             0        1        1        1        1        1        1
84               0        0        0        0        0        1        1
1666             0        1        1        1        1        1        1
1497             0        0        0        0        0        0        1
1200             0        0        1        1        1        1        1
1381             0        1        1        1        1        1        1

operation                          >                                      \
value     83287.00 92148.50 7737.94  16938.50 28660.22 42000.00 55860.00
513              0        0        1        1        1        1        1
81               1        1        1        0        0        0        0
596              1        1        1        0        0        0        0
380              1        1        1        1        0        0        0
1523             1        1        1        0        0        0        0
84               1        1        1        1        1        1        1
1666             1        1        1        0        0        0        0
1497             1        1        1        1        1        1        1
1200             1        1        1        1        0        0        0
1381             1        1        1        0        0        0        0

operation
value     64977.40 74530.80 83287.00 92148.50
513              1        1        1        1
81               0        0        0        0
596              0        0        0        0
380              0        0        0        0
1523             0        0        0        0
84               0        0        0        0
1666             0        0        0        0
1497             1        0        0        0
1200             0        0        0        0
1381             0        0        0        0

### Rule Induction

In [541]:
start_time = time.time()
print('Starting training for', CONFIG['ALGO'])

if CONFIG['ALGO'] == 'BRCG':
    estimator = BooleanRuleCG() # Explainer()
    # estimator.train(x_train, y_train)
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        estimator.fit(x_train_bin, y_train)
elif CONFIG['ALGO'] == 'RIPPER':
    estimator = Ripper()
    estimator.fit(x_train_bin, y_train, pos_value=CONFIG['POS_CLASS'])
elif CONFIG['ALGO'] == 'GLRM':
    linear_model = LinearRuleRegression() # lambda0=0.0005,lambda1=0.0001
    explainer = GLRMExplainer(linear_model)
    explainer.fit(x_train_bin, y_train)
else:
    print('Unrecognized algorithm:', CONFIG['ALGO'])

end_time = time.time()
print('Training time: ' + str(end_time - start_time))

Starting training for BRCG
Learning DNF rule with complexity parameters lambda0=0.001, lambda1=0.001
Initial LP solved
Iteration: 1, Objective: 0.2903
Iteration: 2, Objective: 0.1776
Iteration: 3, Objective: 0.1445
Iteration: 4, Objective: 0.1228
Iteration: 5, Objective: 0.1078
Iteration: 6, Objective: 0.1062
Iteration: 7, Objective: 0.1062
Iteration: 8, Objective: 0.1056
Iteration: 9, Objective: 0.1054
Iteration: 10, Objective: 0.1052
Training time: 3.8479983806610107

### Evaluation

In [542]:
if CONFIG['TYPE'] == 'BINARY':
    y_pred = estimator.predict(x_test_bin)
    print('Accuracy:', accuracy_score(y_test, y_pred))
    print('Balanced accuracy:', balanced_accuracy_score(y_test, y_pred))
    print('Precision:', precision_score(y_test, y_pred, pos_label=CONFIG['POS_CLASS']))
    print('Recall:', recall_score(y_test, y_pred, pos_label=CONFIG['POS_CLASS']))
elif CONFIG['TYPE'] == 'CONTINUOUS':
    y_pred = explainer.predict(x_test_bin)
    print(f'R2 Score = {r2_score(y_test, y_pred)}')
    print(f'Explained Variance = {explained_variance_score(y_test, y_pred)}')
    print(f'Mean abs. error = {mean_absolute_error(y_test, y_pred)}')
    print(f'Max error = {max_error(y_test, y_pred)}')

Accuracy: 0.8740740740740741
Balanced accuracy: 0.8646306818181818
Precision: 0.8689320388349514
Recall: 0.8136363636363636

In [543]:
#XGboost for Binary Classification
if CONFIG['TYPE'] == 'BINARY' and CONFIG['BASELINE'] == True:
    regex = re.compile(r"\[|\]|<", re.IGNORECASE)
    x_train_bin.columns = [regex.sub("_", str(col)) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in x_train_bin.columns.values]
    x_test_bin.columns = [regex.sub("_", str(col)) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in x_test_bin.columns.values]

    xgb_cl = xgb.XGBClassifier()
    xgb_cl.fit(x_train_bin, y_train)
    preds = xgb_cl.predict(x_test_bin)     
    print('Accuracy:', accuracy_score(y_test, preds))
    print('Balanced accuracy:', balanced_accuracy_score(y_test, preds))
    print('Precision:', precision_score(y_test, preds, pos_label=CONFIG['POS_CLASS']))
    print('Recall:', recall_score(y_test, preds, pos_label=CONFIG['POS_CLASS']))

Accuracy: 0.9555555555555556
Balanced accuracy: 0.9504261363636364
Precision: 0.9666666666666667
Recall: 0.9227272727272727

In [544]:
if CONFIG['TYPE'] == 'CONTINUOUS':
    explanation = explainer.explain()
    print(explanation)
elif CONFIG['ALGO'] == 'BRCG':
    model = estimator.explain()
    if not model['isCNF']:
        print('Number of rules:', len(model['rules']))
        print(model['rules'])
elif CONFIG['ALGO'] == 'RIPPER':
    print('Rule count: ' + str(sum([len(rules) for rules in estimator.rule_map.values()])))
    print('Rule set:')
    print(estimator.rule_list_to_pretty_string())

# uncomment the following line for a full optimized view of the model as data frame for GLRM rules
# explanation.style

Number of rules: 5
['Gender not  AND Status != M AND Est Income <= 42000.00', 'Gender   AND Est Income > 64977.40 AND Age > 41.98', 'Age <= 25.44 AND Usage <= 151.61 AND Usage > 119.82', 'Children <= 1.00 AND Est Income <= 42000.00 AND Age <= 25.44 AND Usage > 29.17', 'Children <= 1.00 AND Paymethod == CH AND Usage > 39.53 AND RatePlan != 2']

# Analysis of CSV

In [545]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

# create df and label target label new
df_list = []
csv_list = []
for i in range(len(Config_list)):
    
    if Config_list[i]['TYPE'] == "BINARY":
        if Config_list[i]["DATA_SET"] not in csv_list:
            temp_df = pd.read_csv(Config_list[i]["DATA_SET"])
            csv_list.append(Config_list[i]["DATA_SET"])
            temp_df = temp_df.drop(columns=Config_list[i]['DROP'])
            temp_df= temp_df.rename(columns={temp_df[Config_list[i]['TARGET_LABEL']].name : 'TARGET_LABEL'})
            df_list.append(temp_df)
        
eval_df = pd.DataFrame(csv_list, columns=['Data_Set'])
eval_df["Target_1_pos"] = pd.Series()
eval_df["Target_2_neg"] = pd.Series()
eval_df["IB_Ratio"] = pd.Series()

eval_df

C:\Users\hornd\AppData\Local\R-MINI~1\envs\aix360i_v2\lib\site-packages\ipykernel_launcher.py:20: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
C:\Users\hornd\AppData\Local\R-MINI~1\envs\aix360i_v2\lib\site-packages\ipykernel_launcher.py:21: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
C:\Users\hornd\AppData\Local\R-MINI~1\envs\aix360i_v2\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

                            Data_Set  Target_1_pos  Target_2_neg  IB_Ratio
0      ../data/churn_prob_out_35.csv           NaN           NaN       NaN
1  ../data/german_credit_codiert.csv           NaN           NaN       NaN
2                 ../data/compas.csv           NaN           NaN       NaN
3               ../data/mushroom.csv           NaN           NaN       NaN

In [546]:
# calculate imbalance Ratio

for frame in range(len(df_list)):
    metric = df_list[frame]["TARGET_LABEL"].value_counts()
    if metric[0] > metric[1]:
        eval_df["Target_1_pos"].iloc[frame] = metric[1]
        eval_df["Target_2_neg"].iloc[frame] = metric[0]
    else:
        eval_df["Target_1_pos"].iloc[frame] = metric[0]
        eval_df["Target_2_neg"].iloc[frame] = metric[1]
    
    eval_df["IB_Ratio"].iloc[frame] = eval_df["Target_1_pos"].iloc[frame]/eval_df["Target_2_neg"].iloc[frame]    
    print(metric)

F    1076
T     723
Name: TARGET_LABEL, dtype: int64
1    700
0    300
Name: TARGET_LABEL, dtype: int64
0    3960
1    3250
Name: TARGET_LABEL, dtype: int64
e    4208
p    3916
Name: TARGET_LABEL, dtype: int64

C:\Users\hornd\AppData\Local\R-MINI~1\envs\aix360i_v2\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [547]:
eval_df

                            Data_Set  Target_1_pos  Target_2_neg  IB_Ratio
0      ../data/churn_prob_out_35.csv         723.0        1076.0  0.671933
1  ../data/german_credit_codiert.csv         300.0         700.0  0.428571
2                 ../data/compas.csv        3250.0        3960.0  0.820707
3               ../data/mushroom.csv        3916.0        4208.0  0.930608